<div>
    <div class=" float-right pb-0 mr-4">
        <button class="btn btn-warning px-4" (click)="create()">New</button>
    </div>
    <div class="special-area pt-100 pb-70" *ngIf="oeuvresVideo?.length>0">
        <div class="container">
            <div class="row" *ngFor="let oeuvre of oeuvresVideo">
                <div class="col-lg-4 col-md-6" *ngFor="let item of oeuvre?.items ">
                    <div class="special-card">
                        <a routerLink="/services-details"><img src="assets/img/contact/contact-img.png" alt="Images"></a>
                        <div class="content">
                            <h3><a routerLink="/services-details">{{(item.titre | slice:0:12)+'...'+' de '}}{{item.nomArtiste}}</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
