<div class="text-justify-content">
    <div class="col-lg-8 col-sm-6 mx-auto">
        <div class="table-responsive" *ngIf="oeuvres?.length > 0">
            <table class="table table-striped mt-4" aria-describedby="page-heading">
                <thead class="bg-warning">
                <tr >
                <th ><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th ><span>Titre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th ><span>Artiste</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th ><span>Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th ><span>Regroupement</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let oeuvre of oeuvres ;trackBy: trackId">
                    <td>{{oeuvre.id}}</td>
                    <td>{{oeuvre.titre}}</td>
                    <td>{{oeuvre.nomArtiste}}</td>
                    <td>{{oeuvre.typeOeuvreDTO.intitule}}</td>
                    <td>{{oeuvre.regroupementDTO.intitule}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button class="btn btn-primary px-4" (click)="editer(oeuvre)">New</button>
                            <button class="btn btn-danger px-4" (click)="delete(oeuvre)">New</button>
                            <!-- <button class="btn btn-warning px-4" (click)="create()">New</button> -->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>