<!-- Blog Details Area -->
<app-navbar></app-navbar>
<div class="blog-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="blog-article">
                    <div class="col-lg-8 col-md-12 blog-article-img" *ngFor="let item of oeuvre">
                        <vg-player (onPlayerReady)="onPlayerReady($event)">
                            <vg-overlay-play></vg-overlay-play>
                            <vg-buffering></vg-buffering>
                            <vg-controls>
                                <vg-play-pause></vg-play-pause>
                                <vg-playback-button></vg-playback-button>

                                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                                </vg-scrub-bar>

                                <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>

                                <div class="cool ">
                                    <vg-time-display vgProperty="total"
                                                     vgFormat="mm:ss"></vg-time-display>

                                </div>
                                <vg-track-selector></vg-track-selector>
                                <vg-mute></vg-mute>
                                <vg-volume></vg-volume>

                                <vg-fullscreen></vg-fullscreen>
                            </vg-controls>
                            <video  class="col-md-12" [vgMedia]="media" #media preload="auto" id="video" crossorigin="">
                                <source [src]="item.fileUrl" [type]="item.typeFichier+'/'+item.fileExtension">
                            </video>
                        </vg-player>
                    </div>
                    <div class="blog-status">
                        <div class="row">
                            <div class="col-lg-7 col-sm-7">
                                <ul>
                                    <li>Ajouter par <a routerLink="/blog-1">Admin</a></li>
                                    <li>21  Août, 2020</li>
                                </ul>
                            </div>

                            <div class="col-lg-5 col-sm-5">
                                <div class="blog-comment">
                                    <h3><i class='bx bxs-message-detail'></i> 03 Commentaires</h3>
                                </div>
                            </div>
                        </div>
                    </div>

<!--                    <div class="article-content">-->
<!--                        <h2>Good Planning and Strategy is the Kye of a Successful Business</h2>-->

<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>-->

<!--                        <p>Ecespiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos quiratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quci velit modi tempora inciduntut labore et dolore magnam aliquam quaerat voluptatem.</p>-->

<!--                        <blockquote class="blockquote">-->
<!--                            <p>Awesome dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationaco laboris nisi ut aliquip commodo consequat. </p>-->
<!--                        </blockquote>-->
<!--                    </div>-->

                    <div class="comments-wrap">
                        <h3 class="title">Commentaires</h3>

                        <ul>
                            <li>
                                <img src="assets/img/blog/blog-profile1.png" alt="Image">
                                <h3>Fredi Paré</h3>
                                <span>17 May,2020</span>
                                <p>Maouland Family rendez-vous le 12 Juin au palais des sports de Ouaga 2000 pour le grand concert de phénomène Kayawoto officiel .</p>
                                <a routerLink="/blog-details">Répondre</a>
                            </li>

                            <li>
                                <img src="assets/img/blog/blog-profile2.png" alt="Image">
                                <h3>Henry Lana</h3>
                                <span>17 May,2020</span>
                                <p>Kayawoto surclasse tout les rappeurs en Afrique de l'ouest actuellement même kiff bo beat font pas ce genre de clip .</p>
                                <a routerLink="/blog-details">Répondre</a>
                            </li>

                            <li>
                                <img src="assets/img/blog/blog-profile3.png" alt="Image">
                                <h3>Lescka Premier</h3>
                                <span>17 May,2020</span>
                                <p>On es impatient de consommer la vidéo officiel de vinongo. Laisse un pousse bleue si tu es d’accord avec moi.
                                </p>
                                <a routerLink="/blog-details">Répondre</a>
                            </li>
                        </ul>
                    </div>

                    <div class="comments-form">
                        <div class="contact-form">
                            <div class="section-title">
                                <h2>Laisser un commentaire</h2>
                            </div>

                            <form id="contactForm">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="name" id="name" class="form-control" placeholder="Votre nom">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" class="form-control" placeholder="Votre email">
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="8" placeholder="Votre message"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="default-btn">Poster un commentaire</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12">
                <div class="side-bar-wrap">
                    <div class="search-widget">
                        <form class="search-form">
                            <input type="search" class="form-control" placeholder="Recherche...">
                            <button type="submit"><i class="bx bx-search"></i></button>
                        </form>
                    </div>

                    <div class="side-bar-widget">
                        <h3 class="title">Catégories</h3>

                        <div class="side-bar-categories">
                            <ul *ngFor="let categorie of categories">
                                <li>
                                    <a class="btn" (click)="filtreByCategorie(categorie)">{{categorie.intitule}}</a>
                                    <span>{{categorie.nbOeuvre}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="side-bar-widget">
                        <h3 class="title">Récentes oeuvres</h3>

                        <div class="widget-popular-post" *ngFor="let oeuvre of oeuvres">
                            <article class="item">
                                <a (click)="goTo(oeuvre.id)" class="thumb">
                                    <vg-player class="col-md-8" (onPlayerReady)="onPlayerReady($event)">
                                        <video [vgMedia]="media" #media preload="auto" id="video" crossorigin="">
                                            <source [src]="oeuvre.fileUrl" [type]="oeuvre.typeFichier+'/'+oeuvre.fileExtension">
                                        </video>
                                    </vg-player>
                                </a>
                                <div class="info">
                                    <h4 class="title-text"><a routerLink="/oeuvre-blog-details">{{oeuvre.nomArtiste}}</a></h4>
                                    <h4 class="title-text"><a routerLink="/oeuvre-blog-details">{{oeuvre.titre}}</a></h4>
                                    <p>{{oeuvre.dateSortie | date: 'dd MM, yyyy' }}</p>
                                </div>
                            </article>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Area End -->
