<div class="blog-area-two pt-100 pb-70">
    <div class="container mx-auto">
        <div class="row">
            <div class="col-lg-10 col-md-10">
                <div class="row" *ngFor="let oeuvre of allOeuvres">
                    <div class="col-lg-3 col-md-4" *ngFor="let item of oeuvre?.items">
                        <div class="blog-card">
                            <a (click)="goTo(item.id)">
                            <vg-player (onPlayerReady)="onPlayerReady($event)">
                                <vg-buffering></vg-buffering>
                                <vg-controls>
                                       <div class="cool col-md-12">
                                           <vg-time-display class="mx-auto" vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                                       </div>
                                </vg-controls>
                                <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
                                    <source [src]="item.fileUrl" [type]="item.typeFichier+'/'+item.fileExtension">
                                </video>
                            </vg-player>
                            <div class="content" style="text-align: left">
                                <h3><a routerLink="/oeuvre-blog-details">{{item.titre}}</a></h3>
                                <span>{{item.nomArtiste}}</span>
                                <ul>
                                    <li><span>20</span> COMMENTS /</li>
                                    <li><span>28</span> VIEWS</li>
                                </ul>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="side-bar-wrap">
                    <div class="search-widget">
                        <form class="search-form">
                            <input type="search" name="criteria" class="form-control" placeholder="Search..."[(ngModel)]="criteria">
                            <button (click)="search()"><i class="bx bx-search"></i></button>
                        </form>
                    </div>
                    <div>
                        <button id="toCreate" class="top-btn-create btn" (click)="toCreate()">
                            <i class="bx bx-plus"></i>
                        </button>
                    </div>
                    <div class="side-bar-widget">
                        <h3 class="title">Catégories</h3>
                        <div class="side-bar-categories">
                            <ul *ngFor="let categorie of categories">
                                <li>
                                    <a class="btn" (click)="filtreByCategorie(categorie)">{{categorie.intitule}}</a>
                                    <span>{{categorie.nbOeuvre}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="side-bar-widget">
                        <h3 class="title">Récents postes</h3>
                        <div class="widget-popular-post" *ngFor="let oeuvre of oeuvres">
                            <article class="item">
                                <a (click)="goTo(oeuvre.id)" class="thumb">
                                    <vg-player class="col-md-8" (onPlayerReady)="onPlayerReady($event)">
                                        <video [vgMedia]="media" #media preload="auto" id="video" crossorigin="">
                                            <source [src]="oeuvre.fileUrl" [type]="oeuvre.typeFichier+'/'+oeuvre.fileExtension">
                                        </video>
                                    </vg-player>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
