<app-navbar></app-navbar>
<div class="text-justify-content pt-100">
    <app-menu-item></app-menu-item>
    <div class="col-lg-10 col-sm-10 mx-auto">
        <h3 class="text-center title">Liste des regroupements</h3>
        <div class="table-responsive ml-md-5" *ngIf="regs?.length > 0">
            <table class="table table-striped mt-4" aria-describedby="page-heading">
                <thead class="bg-warning-1">
                <tr >
                <th ><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th ><span>Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th ><span>Intitule</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let reg of regs | slice: (page-1) * itemsPerPage : (page-1) * itemsPerPage + itemsPerPage">
                    <td>{{reg.id}}</td>
                    <td>{{reg.type}}</td>
                    <td>{{reg.intitule}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button class="btn btn-warning" (click)="editer(reg)"><i class="bx bxs-edit-alt"></i></button>
                            <button class="btn btn-danger" (click)="delete(reg)"><i class="bx bxs-eraser"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [ellipses]="false"
                            [boundaryLinks]="true">
            </ngb-pagination>
        </div>
        <div>
            <button id="toCreate" class="top-btn-create btn" (click)="create()">
                <i class="bx bx-plus"></i>
            </button>
        </div>
    </div>
</div>
