 <!-- Apply Area -->
 <div class="card-header text-center bg" style="background-color: darkorange;" *ngIf="reg.id === undefined">Enregistrer une oeuvre</div>
 <div class="card-header text-center bg" style="background-color: darkorange;" *ngIf="reg.id !== null">Modifier une oeuvre</div>
 <div class="apply-area pt-5 modal-body">
     <div class="container">
         <div class="apply-form">
             <div class="contact-form">
                 <form id="regForm" name="regForm" role="form" [formGroup]="regForm">
                     <div class="row">
                        <div class="col-lg-6 col-sm-6" hidden>
                            <div class="form-group">
                                <input type="text" name="id" readonly id="id" class="form-control" formControlName="id" required placeholder="id ">
                            </div>
                        </div>
                         <div class="col-lg-6 col-sm-6">
                             <div class="form-group">
                                 <input type="text" name="type" id="type" class="form-control" formControlName="type" required placeholder="Type ">
                             </div>
                         </div>
                         <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" name="intitule" id="intitule" class="form-control" formControlName="intitule" required placeholder="Intitule ">
                            </div>
                        </div>
                         <div class="col-lg-12 col-md-12">
                             <div class="form-group float-right">
                                 <button class="btn btn-danger mr-2" (click)="cancel(false)">Annuler</button>
                                 <button class="btn btn-warning px-4" (click)="save()">OK</button>
                             </div>
                         </div>
                     </div>
                 </form>
             </div>
         </div>
     </div>
 </div>
 
 <!-- Apply Area End -->