<!-- Footer Area -->
<footer class="footer-area pt-10 pb-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3>Réseaux sociaux</h3>

                    <ul class="footer-list-two">

                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-facebook'></i>
                                Facebook
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-twitter'></i>
                                 Twitter
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-instagram'></i>
                                  Instagram
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class='bx bxl-youtube'></i>
                                Youtube
                            </a>
                        </li>

                    </ul>
                </div>
            </div>


            <div class="col-lg-4 col-md-4  text-justify">
                <div class="footer-widget">
                    <h3 >A propos</h3>
                    <p>
                        OpenCulture est une plateforme pour
                        la promotion de la culture. Elle offre
                        des oeuvres multimédias telles que des clips
                        vidéos, de la musique, des contes ...
                    </p>
                </div>
            </div>



            <div class="col-lg-4 col-md-4">
                <div class="footer-widget float-right">
                    <h3>Contacts</h3>

                    <ul class="footer-list-two">
                        <li>
                            <i class='bx bx-time'></i>
                            Lundi - Vendredi: 8h - 18h
                        </li>
                        <li>
                            <i class='bx bx-location-plus'></i>
                            01 B.P: 563, Ouagadougou, 01
                        </li>
                        <li>
                            <i class='bx bx-phone'></i>
                            <a href="tel:+61283171380">+22678880023</a>
                        </li>
                        <li>
                            <i class='bx bxs-envelope'></i>
                            <a href="mailto:info@gloz.com">info@openculture.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- Copy-Right Area -->
<div class="copy-right-area">
    <div class="container">
        <div class="copy-right-text text-center">
            <p>Copyright @2020 OpenBurkina. Tout droit réservé  <a href="https://openculture.com/" target="_blank">Openculture</a></p>
        </div>
    </div>
</div>
<!-- Copy-Right Area End -->
