<!-- Banner Area -->
<app-navbar></app-navbar>
<div class="banner-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <h1>" On ne vend pas la musique. On la partage. "</h1>
                    <h2>Leonard Bernstein</h2>
                    <div class="banner-btn mb-45">
                        <a href="mailto:openculture@openbf.com" class="btn contact-btn">Contactez Nous</a>
                        <a class="btn get-btn" (click)="openSignin()">Connectez Vous</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="banner-img">
                    <img src="assets/img/openculture/high-end.jpg" alt="Images">

                    <div class="dots">
                        <img src="assets/img/shape/dots.png" alt="Images">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-shape">
        <div class="shape-icon"><i class="flaticon-graph"></i></div>
    </div>
</div>
<!-- Project Area -->
<div class="project-area pt-45 pb-70">
    <div class="container">
            <div class="tab project-tab text-center">
            <ul class="tabs">
                <input type="radio" id="films"  name="typeFile" value="FILMS" [(ngModel)]="typeFile">
                <li class="changeCursor" for="films">Films</li>

                <input type="radio" id="video" name="typeFile" value="VIDEO" [(ngModel)]="typeFile">
                <li class="changeCursor" >Videos</li>

                <input type="radio" id="musique" name="typeFile" value="AUDIO" [(ngModel)]="typeFile">
                <li class="changeCursor" >Musiques</li>

                <input type="radio" id="Littérature" name="typeFile" value="LITERATURE" [(ngModel)]="typeFile">
                <li class="changeCursor" >Littérature</li>

                <input type="radio" id="Tableauart" name="typeFile" value="TABLEAUART" [(ngModel)]="typeFile">
                <li class="changeCursor" >Tableau d'art</li>
            </ul>
            <div class="search-widget col-md-6 mx-auto">
                <div class="search-form">
                    <input name="criteria" placeholder="Rechercher des artistes, des titre" class="form-control" type="text" [(ngModel)]="criteria" required>
                    <button class="search-button" (click)="search()">
                        <i class="bx bx-search"></i>
                    </button>
                </div>
            </div>
            <div class="tab section-title text-center mb-3">
                <h5>Découvrez les derniers sortie sur OpenBurkina</h5>
            </div>
            <div class="special-area" *ngIf="oeuvresVideo?.length>0">
                <div class="container">
                    <div class="row" *ngFor="let oeuvre of oeuvresVideo">
                        <div class="col-lg-3 col-md-4" *ngFor="let item of oeuvre?.items">
                            <div class="blog-card">
                                <a (click)="goTo(item.id)">
                                    <vg-player (onPlayerReady)="onPlayerReady($event)">
                                        <!--                                <vg-overlay-play></vg-overlay-play>-->
                                        <vg-buffering></vg-buffering>

                                        <vg-controls>
                                            <!--                                    <vg-play-pause></vg-play-pause>-->
                                            <!--                                    <vg-playback-button></vg-playback-button>-->

                                            <!--                                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>-->

                                            <!--                                    <vg-scrub-bar>-->
                                            <!--                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>-->
                                            <!--                                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>-->
                                            <!--                                    </vg-scrub-bar>-->

                                            <!--                                    <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>-->
                                            <div class="cool col-md-12">
                                                <vg-time-display class="mx-auto" vgProperty="total"
                                                                 vgFormat="mm:ss"></vg-time-display>
                                            </div>

                                            <!--                                    <vg-track-selector></vg-track-selector>-->
                                            <!--                                    <vg-mute></vg-mute>-->
                                            <!--                                    <vg-volume></vg-volume>-->

                                            <!--                                    <vg-fullscreen></vg-fullscreen>-->
                                        </vg-controls>

                                        <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
                                            <source [src]="item.fileUrl" [type]="item.typeFichier+'/'+item.fileExtension">
                                        </video>
                                    </vg-player>
                                    <div class="content" style="text-align: left">
                                        <h3><a routerLink="/oeuvre-blog-details">{{item.titre}}</a></h3>
                                        <span>{{item.nomArtiste}}</span>
                                        <ul>
                                            <!--                                    <li>By <a routerLink="/blog-1">ADMIN </a> /</li>-->
                                            <li><span>20</span> COMMENTS /</li>
                                            <li><span>28</span> VIEWS</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Project Area End -->
