<div class="navbar-area mx-auto menu-pb">
    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light ">
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a routerLink="/admin-dashboard" class="nav-link">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/entity-blog" class="nav-link">Oeuvres</a>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Paramètres <i class='bx bx-chevron-down'></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/regroupements" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Regroupements</a></li>

                                <li class="nav-item"><a routerLink="/type-regroupements" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Type regroupements</a></li>

                                <li class="nav-item"><a routerLink="/type-oeuvres" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Catégories</a></li>

                                <li class="nav-item"><a routerLink="/artistes" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Artistes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Gestion des comptes <i class='bx bx-chevron-down'></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/regroupements" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Visiteurs</a></li>

                                <li class="nav-item"><a routerLink="/type-oeuvres" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Gestionnaires</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/admin-dashboard" class="nav-link">Mon profile</a>
                        </li>

<!--                        <li class="nav-item">-->
<!--                            <a routerLink="/admin-dashboard" class="nav-link">Mot de passe</a>-->
<!--                        </li>-->

                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
