<app-navbar></app-navbar>
<div class="text-justify-content pt-100">
    <div class="col-lg-10 col-sm-10 mx-auto">
        <div class="table-responsive ml-md-5" *ngIf="typeOeuvres?.length > 0">
            <table class="table table-striped mt-4" aria-describedby="page-heading">
                <thead class="bg-warning-1">
                <tr >
                <th ><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th ><span>Intitule</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let reg of typeOeuvres ;trackBy: trackId">
                    <td>{{reg.id}}</td>
                    <td>{{reg.intitule}}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button class="btn btn-warning" (click)="editer(reg)"><i class="bx bxs-edit-alt"></i></button>
                            <button class="btn btn-danger" (click)="delete(reg)"><i class="bx bxs-eraser"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button id="toCreate" class="top-btn-create btn" (click)="create()">
                <i class="bx bx-plus"></i>
            </button>
        </div>
    </div>
</div>
