<div class="card-group">
    <div class="row">
        <div class="col-12 col-md-6 card p-2">
            <div class="alert alert-danger text-center font-italic font-weight-bold text-danger"
                 *ngIf="errorMessage !== null">
                {{ errorMessage }}
            </div>
            <div class="card-body">
                <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
                    <div class="text-center h1 text-danger">OpenCulture</div>
                    <div class="text-center h2 text-secondary">Connexion</div>
                    <p class="text-muted text-center">Connectez-vous à votre compte</p>
                    <div class="input-group mb-3">
                       <!-- <div class="input-group-prepend" style="background-color: darkorange;">
                            <span class="input-group-text">
                              <i class="fa fa-envelope"></i>
                            </span>
                        </div>-->
                        <input type="text" class="form-control"
                               placeholder="email" autocomplete="username"
                               name="username" formControlName="username" required>
                    </div>
                    <div class="input-group mb-4">
                        <!--<div class="input-group-prepend" >
                            <span class="input-group-text" style="background-color: darkorange;">
                              <i class="fa fa-lock"></i>
                            </span>
                        </div>-->
                        <input type="password" class="form-control"
                               placeholder="Password" autocomplete="current-password"
                               name="password" formControlName="password"
                               required>
                    </div>

                    <div class="form-group mb-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe">
                            <label class="form-check-label text-primary" for="rememberMe">Se souvenir de moi</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8 offset-2">
                            <button type="submit" [disabled]="formLogin.invalid" class="btn btn-warning px-4">
                                Se connecter <i class="fa fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-8 offset-2">
                            <button type="button" class="btn btn-link px-0" (click)="changePassword()">Mot de passe oublié ?</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-12 col-md-6 card text-white py-5 d-md-down-none" style="background-color: darkorange;">
            <div class="card-body text-center" >
                <div>
                    <h2>Inscription</h2>
                    <p>Si vous n'avez pas encore de compte sur OpenCulture,
                        veuillez vous inscrire !
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
