<!-- Services Details -->
<app-navbar></app-navbar>
<div class="services-details pt-100 pb-70">
    <app-menu-item></app-menu-item>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="services-details-content pb-20" *ngFor="let item of oeuvre">
                    <vg-player (onPlayerReady)="onPlayerReady($event)">
                        <vg-overlay-play></vg-overlay-play>
                        <vg-buffering></vg-buffering>
                        <vg-controls>
                            <vg-play-pause></vg-play-pause>
                            <vg-playback-button></vg-playback-button>

                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>

                            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>

                            <div class="cool ">
                                <vg-time-display vgProperty="total"
                                                 vgFormat="mm:ss"></vg-time-display>

                            </div>
                            <vg-track-selector></vg-track-selector>
                            <vg-mute></vg-mute>
                            <vg-volume></vg-volume>

                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls>
                        <video  class="col-md-12" [vgMedia]="media" #media preload="auto" id="video" crossorigin="">
                            <source [src]="item.fileUrl" [type]="item.typeFichier+'/'+item.fileExtension">
                        </video>
                    </vg-player>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 pt-20">
                <div class="services-side-bar">
                    <div class="services-bar-widget">
                        <h3 class="title">Menu</h3>
                        <div class="services-bar-categories">
                            <ul>
                                <li>
                                    <i class="flaticon-sort"></i>
                                    <a (click)="itemChange()">Entités</a>
                                </li>
                                <li *ngIf="menuItem" class="cool"><a href="/entity-blog">Oeuvres </a></li>
                                <li *ngIf="menuItem" class="cool"><a href="/artistes">Artistes </a></li>
                                <li *ngIf="menuItem" class="cool"><a href="/regroupements">Regroupements </a></li>
                                <li *ngIf="menuItem" class="cool"><a href="/type-oeuvres">Type d'oeuvre </a></li>
                                <li>
                                    <i class="flaticon-balance"></i>
                                    <a href="#">Comptes visiteurs</a>
                                </li>
                                <li>
                                    <i class="flaticon-analytics"></i>
                                    <a href="#">Comptes Managements</a>
                                </li>
                                <li>
                                    <i class="flaticon-people"></i>
                                    <a href="#">Mon profile </a>
                                </li>
                                <li>
                                    <i class="flaticon-briefcase-1"></i>
                                    <a href="#">Mot de passe </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="side-bar-widget col-md-5 mr-5">
                <h3 class="title">Mes récentes oeuvres</h3>

                <div class="widget-popular-post" *ngFor="let oeuvre of oeuvres">
                    <article class="item">
                        <a (click)="goTo(oeuvre.id)" class="thumb">
                            <!-- <span class="full-image cover bg1" role="img"></span> -->
                            <!--  <img [src]="oeuvre.pathFile" class="full-image cover" role="img" alt="Images">-->
                            <vg-player class="col-md-8" (onPlayerReady)="onPlayerReady($event)">
                                <video [vgMedia]="media" #media preload="auto" id="video" crossorigin="">
                                    <source [src]="oeuvre.fileUrl" [type]="oeuvre.typeFichier+'/'+oeuvre.fileExtension">
                                </video>
                            </vg-player>
                        </a>
                        <div class="info">
                            <h4 class="title-text"><a routerLink="/oeuvre-blog-details">{{oeuvre.nomArtiste}}</a></h4>
                            <h4 class="title-text"><a routerLink="/oeuvre-blog-details">{{oeuvre.titre}}</a></h4>
                            <p>{{oeuvre.dateSortie | date: 'dd MM, yyyy' }}</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="side-bar-widget col-md-5">
                <h3 class="title">Catégories</h3>

                <div class="side-bar-categories">
                    <ul *ngFor="let categorie of categories">
                        <li>
                            <a class="btn" (click)="filtreByCategorie(categorie)">{{categorie.intitule}}</a>
                            <span>{{categorie.nbOeuvre}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Details End -->
