<div class="apply-area">
    <div class="float-right">
        <button class="default-btn m-3" (click)="onDismiss(false)">Fermer</button>
    </div>
    <div class="container pt-100 pb-70">
        <div class="col-lg-12 col-sm-6">
            <div class="alert alert-danger text-center font-italic font-weight-bold text-danger"
                 *ngIf="errorMessage !== null">
                {{ errorMessage }}
            </div>
            <div class="alert alert-success text-center font-italic font-weight-bold text-success"
                 *ngIf="successMessage !== null">
                {{ successMessage }}
            </div>
        </div>
        <div class="apply-form pt-45">
            <div class="contact-form">
                <form [formGroup]="formPassword" (ngSubmit)="save()">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input type="password" name="oldPassword" id="oldPassword" autocomplete="oldPassword" formControlName="oldPassword" class="form-control" required placeholder="Mot de passe actuel">
                            </div>
                        </div>

                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input type="password" name="newPassword" id="newPassword" autocomplete="newPassword" formControlName="newPassword" class="form-control" required placeholder="Nouveau mot de passe" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$">
                            </div>
                        </div>

                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input type="password" name="confirmNewPsaaword" id="confirmNewPsaaword" autocomplete="confirmNewPsaaword" formControlName="confirmNewPsaaword" class="form-control" required placeholder="Confirmer le mot de passe" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 mt-3 mb-3 text-center text-success">
                            Votre mot de passe doit contenir au moins 8 caracteres,une lettre Majuscule ,une lettre miniscule et un chiffre
                        </div>
                        <div class="col-lg-12 col-md-12 text-center">
                            <button [disabled]="formPassword.invalid" type="submit" class="btn btn-warning px-4">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
