<div class="card-group">
    <div class="card">
        <div class="card-header border-bottom text-center text-white bg-primary">
            Inscription sur OpenCulture
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="formAccount" (ngSubmit)="onAccount()" >
                        <p class="text-muted text-center font-italic">
                            Veuillez renseigner les informations suivantes pour vous inscrire. <br>
                            Les champs marqués (<i class="text-danger">*</i>) sont obligatoires
                        </p>

                        <!--<div class="form-group">
                            <label for="paysId" class="col-form-label text-secondary">Pays <i class="text-danger">*</i></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa fa-flag"></i>
                                    </span>
                                </div>
                                <select class="form-select form-control" id="paysId" name="paysId" formControlName="paysId">
                                    <option selected disabled>&#45;&#45;Sélectionner le pays&#45;&#45;</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="regionId" class="col-form-label text-secondary">Region <i class="text-danger">*</i></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa fa-flag"></i>
                                    </span>
                                </div>
                                <select class="form-select form-control" id="regionId" name="regionId" formControlName="regionId">
                                    <option selected disabled>&#45;&#45;Sélectionner la region&#45;&#45;</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="provinceId" class="col-form-label text-secondary">Province <i class="text-danger">*</i></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa fa-flag"></i>
                                    </span>
                                </div>
                                <select class="form-select form-control" id="provinceId" name="provinceId" formControlName="provinceId">
                                    <option selected disabled>&#45;&#45;Sélectionner la province&#45;&#45;</option>
                                </select>
                            </div>
                        </div>-->

                        <div class="form-group">
                            <label for="firstName" class="col-form-label text-secondary">Nom <i class="text-danger">*</i></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" autocomplete="firstName" name="firstName" formControlName="firstName" id="firstName" required>
                            </div>
                            <div *ngIf="formAccount.get('firstName').invalid && (formAccount.get('firstName').touched || formAccount.get('firstName').dirty)">
                                <small class="text-danger font-italic" *ngIf="formAccount.get('firstName').errors.required">
                                    Votre nom est obligatoire
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="lastName" class="col-form-label text-secondary">Prénom(s) <i class="text-danger">*</i></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" autocomplete="lastName" id="lastName"
                                       name="lastName" formControlName="lastName" required>
                            </div>
                            <div *ngIf="formAccount.get('lastName').invalid && (formAccount.get('lastName').touched || formAccount.get('lastName').dirty)">
                                <small class="text-danger font-italic" *ngIf="formAccount.get('lastName').errors.required">
                                    Votre prénom est obligatoire
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-form-label text-secondary">Email <i class="text-danger">*</i></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="fa fa-envelope"></i>
                                  </span>
                                </div>
                                <input type="email" class="form-control" autocomplete="email" id="email"
                                       name="email" formControlName="email" placeholder="monemail@gmail.com" required>
                            </div>

                            <div *ngIf="formAccount.get('email').invalid && (formAccount.get('email').touched || formAccount.get('email').dirty)">
                                <small class="text-danger font-italic" *ngIf="formAccount.get('email').errors.required">
                                    Votre email est obligatoire
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="telephone" class="col-form-label text-secondary">Téléphone <i class="text-danger">*</i></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa fa-phone"></i>
                                    </span>
                                </div>
                                <input type="tel" class="form-control"
                                       id="telephone" autocomplete="telephone" placeholder="+22670707070"
                                       name="telephone" formControlName="telephone" required>
                            </div>

                            <div *ngIf="formAccount.get('telephone').invalid && (formAccount.get('telephone').touched || formAccount.get('telephone').dirty)">
                                <small class="text-danger font-italic" *ngIf="formAccount.get('telephone').errors.required">
                                    Votre numéro de téléphone est obligatoire
                                </small>
                            </div>
                        </div>

                      <!--  <div class="form-group">
                            <label for="genre" class="col-form-label text-secondary">Genre <i class="text-danger">*</i></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa fa-venus-mars"></i>
                                    </span>
                                </div>
                                <select class="form-select form-control" name="genre" formControlName="genre" id="genre">
                                    <option selected disabled>&#45;&#45;Sélectionner votre genre&#45;&#45;</option>
                                    <option value="MASCULIN">MASCULIN</option>
                                    <option value="FEMININ">FEMININ</option>
                                </select>
                            </div>

                            <div >
                                <small class="text-danger font-italic">
                                    Votre genre est obligatoire
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nameClub" class="col-form-label text-secondary">Nom du club <i class="text-danger">*</i></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-flag"></i>
                  </span>
                                </div>
                                <input type="text" class="form-control"
                                       id="nameClub" autocomplete="nameClub"
                                       name="nameClub" formControlName="nameClub" required>
                            </div>
                            <div >
                                <small class="text-danger font-italic">
                                    Le nom du club est obligatoire
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="artClub" class="col-form-label text-secondary">Arts du club <i class="text-danger">*</i></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa fa-anchor"></i>
                                    </span>
                                </div>
                                <select class="form-select form-control" multiple size="2" id="artClub" name="artClub" formControlName="artClub">
                                    <option selected disabled>&#45;&#45;Sélectionner vos arts&#45;&#45;</option>

                                </select>
                            </div>

                            <div >
                                <small class="text-danger font-italic" >
                                    Veuillez choisir l'art pratiqué par votre club
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="emailClub" class="col-form-label text-secondary">Email du club</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                                <input type="email" class="form-control"
                                       id="emailClub" autocomplete="emailClub"
                                       name="emailClub" formControlName="emailClub" placeholder="club@gmail.com" required>
                            </div>
                        </div>-->

                       <!-- <div class="form-group">
                            <label for="phoneClub" class="col-form-label text-secondary">Téléphone du club</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa fa-phone"></i>
                                    </span>
                                </div>
                                <input type="tel" class="form-control"
                                       id="phoneClub" autocomplete="phoneClub" placeholder="+22675757575"
                                       name="phoneClub" formControlName="phoneClub" required>
                            </div>
                        </div>-->


                        <div class="form-group">
                            <label for="password" class="col-form-label text-secondary">Mot de passe <i class="text-danger">*</i></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control"
                                       id="password" name="password" formControlName="password">
                            </div>

                            <div *ngIf="formAccount.get('password').invalid && (formAccount.get('password').touched || formAccount.get('password').dirty)">
                                <small class="text-danger font-italic" *ngIf="formAccount.get('password').errors.required">
                                    Le mot de passe est obligatoire
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword" class="col-form-label text-secondary">Confirmation du mot de passe <i class="text-danger">*</i></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control"
                                       id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
                            </div>

                            <div *ngIf="formAccount.get('confirmPassword').invalid && (formAccount.get('confirmPassword').touched || formAccount.get('confirmPassword').dirty)">
                                <small class="text-danger font-italic" *ngIf="formAccount.get('confirmPassword').errors.required">
                                    La confirmation du mot de passe est obligatoire
                                </small>
                            </div>
                        </div>

                        <div class="form-group text-right">
                            <button class="btn btn-danger mr-2" (click)="onDismiss(false)">
                                <i class="fa fa-chevron-left"></i> Annuler
                            </button>
                            <button type="submit" [disabled]="formAccount.invalid" class="btn btn-primary px-4">
                                S'inscrire <i class="fa fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
