<div class="sign-up-area pt-100 pb-70">
    <div class="container">
        <div class="user-all-form pt-45">
            <div class="contact-form">
                <div class="section-title text-center" style="background-color: darkorange;">
                    <h2>Réinitialisez votre mot de passe</h2>
                </div>
                <div class="alert alert-danger text-center font-italic font-weight-bold text-danger"
                     *ngIf="errorMessage !== null">
                    {{errorMessage}}
                </div>
                <div class="alert alert-success text-center font-italic font-weight-bold text-success"
                     *ngIf="successMessage !== null">
                    {{successMessage}}
                </div>
                <form id="contactForm" [formGroup]="formChangePassword">
                    <div class="row">
                        <div *ngIf="key===null || key===undefined" class="col-lg-12 ">
                            <div class="form-group">
                                <input type="email" name="username" autocomplete="username" id="username" formControlName="username" class="form-control" required placeholder="votre Email">
                            </div>
                            <div *ngIf="formChangePassword.get('username').invalid && (formChangePassword.get('username').touched || formChangePassword.get('username').dirty)">
                                <small class="text-danger font-italic" *ngIf="formChangePassword.get('username').errors.required">
                                    Votre Email est obligatoire
                                </small>
                            </div>
                        </div>
                            <div *ngIf="key!==null && key!== undefined" class="col-lg-12">
                                <div class="form-group">
                                    <input type="password" name="password" autocomplete="password" id="password" formControlName="password" class="form-control" required placeholder="Votre nouveau mot de passe" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$">
                                </div>
                                <div *ngIf="formChangePassword.get('password').invalid && (formChangePassword.get('password').touched || formChangePassword.get('password').dirty)">
                                    <small class="text-danger font-italic" *ngIf="formChangePassword.get('password').errors.required">
                                        Le mot de passe est obligatoire
                                    </small>
                                </div>
                            </div>

                            <div *ngIf="key!==null && key!== undefined" class="col-lg-12">
                                <div class="form-group">
                                    <input type="password" name="confirmPassword"  autocomplete="confirmPassword" id="confirmPassword" formControlName="confirmPassword" class="form-control" required placeholder="Confirmer votre mot de passe" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$">
                                </div>
                                <div *ngIf="formChangePassword.get('password').invalid && (formChangePassword.get('password').touched || formChangePassword.get('password').dirty)">
                                    <small class="text-danger font-italic" *ngIf="formChangePassword.get('password').errors.required">
                                        Le mot de passe est obligatoire
                                    </small>
                                </div>
                            </div>

                            <div *ngIf="key!==null && key!== undefined" class="col-lg-12 col-md-12 mt-3 mb-3 text-center text-success">
                                Votre mot de passe doit contenir au moins 8 caracteres,une lettre Majuscule et une lettre miniscule
                            </div>

                        <div class="col-lg-12 col-md-12 text-center">
                            <button [disabled]="isSaving" (click)="onChangePassword()" class="btn btn-warning px-4">
                                Valider <i class="fa fa-sign-in-alt"></i>
                            </button>
                        </div>
                        <div *ngIf="isSaving===true" class="col-lg-12 col-md-12 mt-5 mb-5 text-center">
                            <button (click)="sendEmail()" class="btn btn-warning px-4">
                                Reenvoyer le Email <i class="fa fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

