<div class="apply-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Réinitialisez votre mot de passe</h2>
        </div>
        <div class="alert alert-danger text-center font-italic font-weight-bold text-danger"
             *ngIf="errorMessage !== null">
            {{errorMessage}}
        </div>
        <div class="apply-form pt-45">
            <div class="contact-form">
                <form id="contactForm" [formGroup]="formChangePassword" (ngSubmit)="onChangePassword()">
                    <div class="row">

                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <input type="email" name="username" autocomplete="username" id="username" formControlName="username" class="form-control" required placeholder="votre Email">
                            </div>
                            <div *ngIf="formChangePassword.get('username').invalid && (formChangePassword.get('username').touched || formChangePassword.get('username').dirty)">
                                <small class="text-danger font-italic" *ngIf="formChangePassword.get('username').errors.required">
                                    Votre numéro de téléphone est obligatoire
                                </small>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <input type="password" name="password" autocomplete="password" id="password" formControlName="password" class="form-control" required placeholder="Votre mot de passe">
                            </div>
                            <div *ngIf="formChangePassword.get('password').invalid && (formChangePassword.get('password').touched || formChangePassword.get('password').dirty)">
                                <small class="text-danger font-italic" *ngIf="formChangePassword.get('password').errors.required">
                                    Le mot de passe est obligatoire
                                </small>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <input type="password" name="confirmPassword"  autocomplete="confirmPassword" id="confirmPassword" formControlName="confirmPassword" class="form-control" required placeholder="Confirmer votre mot de passe">
                            </div>
                            <div *ngIf="formChangePassword.get('confirmPassword').invalid && (formChangePassword.get('confirmPassword').touched || formChangePassword.get('confirmPassword').dirty)">
                                <small class="text-danger font-italic" *ngIf="formChangePassword.get('confirmPassword').errors.required">
                                    La confirmation du mot de passe est obligatoire
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 text-center">
                            <button class="btn btn-danger mr-5" (click)="onDismiss(false)">
                                <i class="fa fa-chevron-left"></i> Annuler
                            </button>
                            <button type="submit" [disabled]="formChangePassword.invalid" class="btn btn-primary px-4">
                                Valider <i class="fa fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
